extends layout

mixin generateProjects(projects)
  each project in projects
    .w3-container
      h5.w3-opacity
        b= project.title
      p= project.description
      a(class= "w3-button w3-light-grey", href=project.link, target = "_blank").w3-large 
        i.fab.fa-github.w3-xlarge.w3-text-grey  
        |  Check it out!
      hr
mixin generateEducations(educations)
  each education in educations
    .w3-container
      h5.w3-opacity
        b= education.inst
      h6.w3-text-teal
        i.fa.fa-calendar.fa-fw.w3-margin-right
        = education.date
      p= education.degree
      hr
mixin generateList(items)
  ul.w3-ul.w3-large
    each item in items    
      li= item   
     
block content
  .w3-content.w3-margin-top(style='max-width:1400px;')
  // The Grid
  .w3-row-padding
    // Left Column
    .w3-third
      .w3-white.w3-text-grey.w3-card-4
        .w3-display-container
          img(src='./images/background.jpg' style='width:100%' alt='Avatar')
          .w3-display-bottomleft.w3-container.w3-text-white
            h2= resume.name
        .w3-container
          p
            i.fa.fa-briefcase.fa-fw.w3-margin-right.w3-large.w3-text-teal
            =resume.job
          a(href="https://www.linkedin.com/in/santiago-varela-99253816b", target = "_blank")            
            i.fab.fa-linkedin.w3-large.w3-text-teal.fa-fw.w3-margin-right
            | LinkedIn            
          hr
          h2.w3-text-grey.w3-padding-16
            i.fa.fa-university.w3-margin-right.w3-xxlarge.w3-text-teal
            |  Education
          +generateEducations(resume.education)
          p.w3-large
      br
    .w3-twothird
      .w3-container.w3-card.w3-white.w3-margin-bottom
        h2.w3-text-grey.w3-padding-16
          i.fa.fa-code-branch.fa-fw.w3-margin-right.w3-xxlarge.w3-text-teal
          | Frameworks
        +generateProjects(resume.projects)
      .w3-container.w3-card.w3-white
        h2.w3-text-grey.w3-padding-16
          i.fa.fa-terminal.fa-fw.w3-margin-right.w3-text-teal
          | Platforms
        +generateList(resume.platforms)      
        p.w3-large.w3-text-theme
        h2.w3-text-grey.w3-padding-16
          i.fa.fa-code.fa-fw.w3-margin-right.w3-text-teal
          | Languages
        +generateList(resume.languages)  
        p.w3-large.w3-text-theme 

  